h1 {
  display: flex;
  justify-content: center;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.is-valid {
  color: green;
}

.is-invalid {
  color: red;
}
