
.incomplete {
  max-width: 400px;
  background-color: cornflowerblue;
  color: white;
  margin: 0.25rem 0;
  cursor: move;
}

.complete {
  max-width: 400px;
  background-color: limegreen;
  color: white;
  margin: 0.25rem 0;
  cursor: move;
}

.description-input-incomplete {
  border: none;
  background-color: cornflowerblue;
  color: white;
}

.description-input-complete {
  border: none;
  background-color: limegreen;
  color: white;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
