<ng-container *ngIf="project">
<h1 class="mat-headline">{{project.name}}'s Tasks</h1>
<ng-container *ngIf="project.tasks.length>0; else noTasks">
<div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)"
      class="cards">
     <ng-container *ngFor="let task of project.tasks">
  <mat-card [ngClass]="{'complete': task.completed, 'incomplete': !task.completed}"  cdkDrag>
    <mat-card-header>
      <mat-card-title>
        {{task.name}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><textarea spellcheck="false" type="text" [ngClass]="{'description-input-complete': task.completed, 'description-input-incomplete': !task.completed}" [(ngModel)]="task.description"
                   (change)="updateProject(project)" matTooltip="Change the description of this task."></textarea>
      </p>
      <p mat-line> {{task.deadline | date}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="deleteTask(task)" matTooltip="Delete">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-slide-toggle color="warn" (change)="task.completed = !task.completed; updateProject(project)" [checked]="task.completed">
        <span *ngIf="task.completed; else notComplete">
          Complete
        </span>
        <ng-template #notComplete><span>Not Complete</span></ng-template>
      </mat-slide-toggle>
    </mat-card-actions>
  </mat-card>
</ng-container>
</div>
</ng-container>
<ng-template #noTasks><h1>No tasks for {{project.name}} yet.</h1></ng-template>
</ng-container>
